html, body
{
    height: 100%;
    margin: 0;
}

body
{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar
{
    background: linear-gradient(to bottom, #171717 0%,#171717 37%, #FF5F1F);
    display: grid;
    grid-template-rows: 0.5fr 2fr 1fr 1fr 2fr;
}
h2
{
    color:#FF5F1F;
    border-style: solid;
    border-color: #171717;
    border-width: 1px;
    border-radius: 50%;
    padding: 7px;
    box-shadow: 5px 0px 2px -1px #ffffff;
}

.sidebarOptions
{
    display: inline-grid;
    grid-template-columns: 1fr ;
    align-content: center;
    gap: 20px;
}
img
{
    align-self: center;

}
.card
{
    display: grid;
    margin-left: 20px;
    grid-template-columns: 20% 50% 1fr;
}
.cardText
{
    padding: 3px;
    font-weight: bold;
    color: #fef2f2;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #FF5F1F;
    box-shadow: 0px 0px 10px 1px #FF5F1F ;
}
.dashboard
{
    display: grid;
    align-items: center;
    margin-left: 20px;
    grid-template-columns: 1fr 3fr 1fr;
}

.settingsOptions
{
    display: grid;
    grid-row: 3/5;
    align-self: center;
    gap: 20px;
}

.cardText2
{
    padding: 3px;
    font-weight: bold;
    color: #ffffff;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #000000;
    box-shadow: 0px 0px 10px 2px #000000 ;
}

.mainBody
{
    display: grid;
    
    grid-template-rows: 1fr 5fr;
}
.header
{
   background-color: #131313;
   border-style: solid;
    border-color: white;
    padding: 20px;
    border-width: 1px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.searchBarContainer
{
    display: grid;
    align-content: center;
    grid-template-columns: 10% 1fr;
    
}

.searchBar
{
    background: linear-gradient(to left,#171717,#171717, #FF5F1F);
    height: 40px;
    border-style: solid;
    border-color: white;
    box-shadow: 0px 0px 10px 1px #ffffff ;
    border-width: 1px;  
    border-radius: 100px;
    display: grid;
    color: #ffffff;
    justify-items: start;
    align-items: center;
    
}
.searchPng
{
    padding-left: 30px;
    justify-self: center;
}
.subscribeContent
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    justify-items: center;
}
.profileImg
{
    background-color: #FF5F1F;
    align-self: center;
    border-style: solid;
    border-color: white;
    box-shadow: 0px 0px 10px 1px #ffffff ;
    border-width: 1px;  
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-content: center;
    display: grid;
    justify-content: center;
}
.subscribedImg
{
    
    justify-self: end;
    padding-left: 40px;
}
.name
{
    padding: 3px;
    font-weight: bold;
    color: #ffffff;
    align-content: center;
    justify-self: start;
    display: grid;
}
.accountIcon
{
    display: grid;
    grid-template-columns: 12% 1fr 1fr;
    justify-items: start;
}
.profileImg2
{
    background-color: #FF5F1F;
    align-self: center;
    justify-self: end;
    border-style: solid;
    border-color: white;
    box-shadow: 0px 0px 10px 1px #ffffff ;
    border-width: 1px;  
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-content: center;
    display: grid;
    justify-content: center;
    margin-right: 10px;
}
p
{
    color: #ffffff;
}
.profileText
{
    box-shadow: 0px 3px 2px -2px #ffffff;
}
.smallText
{
font-size: 10px;
}
.bigText
{
    font-size: 20px;
    font-weight: bolder;
}
.mediaOptions
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.optionButton
{
    width: 70%;
    height: 40%;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 1px #ffffff ;
    background-color: #FF5F1F;
    font-weight: bold;
    color: #ffffff;
}

















.mainContent
{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: #171717;
}
.icon
{
    justify-self: center;
}
